
<h2>Your collections:</h2><br>

<h4 class="collections" data-id=""></h4>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $.get("/collections.json", function(data) {

    var collections = "";

    for (i = 0; i < data.length; i++) {
      var collection = data[i]["title"];
      var collectionId = data[i]["id"];
      collections += "<a href='collections/" + collectionId + "'> " + collection + "<br></a>";
    }
    $(".collections").html(collections);
  });
});
</script>
