

<h4>Welcome! You are signed in as <%= current_user.email %>.<h4>



<h3><%= link_to 'View All Items', items_path %></h3>
<h3><a href="#" class="here" >View All Collections</a></h3>

<h4 class="collections" data-id=""></h4>
<h4 class="items" data-id=""></h4>
<h4 id="test"></h4>

<p>
  <%= link_to new_collection_path, {class: "btn btn-default btn-lg"}, :method => :get do %>
      <span class="glyphicon glyphicon-plus"></span> Create New Collection
  <% end %>
</p>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $(".here").on("click", function() {
    $(this).off("click");
    $.get("/collections.json", function(data) {
     var collections = "";
     for (i = 0; i < data.length; i++) {
       var collection = data[i]["title"];
       var collectionId = data[i]["id"];
       collections += "<a href='../collections/" + collectionId + "'> " + collection + "<br></a>";
     }
     $(".collections").html(collections);
    });
    return false;
  });
});
</script>
